.settings/
target/
.classpath
.project


*.class

# Ignore les fichiers personnels et systèmes

/../AppData/

/../Contacts/

/../Desktop/

/../Documents/

/../Downloads/

/../Favorites/

/../Links/

/../Music/

/../Pictures/

/../Saved Games/

/../Searches/

/../Videos/

/../NTUSER.DAT*

/../ntuser.dat.LOG*

/../ntuser.ini

/../VirtualBox VMs/

/../AndroidStudioProjects/

/../eclipse-workspace/

/../git/

/../logs/

/../*.sql

/../*.exe

/../*.key

/../*.hmac

/../*.md5

/../*.sh256

/../*.bos


# Fichiers et répertoires cachés et spécifiques à l'utilisateur

/../.*



